@model ERP_YOGLOANS_LOCAL.Models.NCD_Models.NCD_Debenture_Scheme_Model

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .hidden-column {
            display: none;
        }
    </style>
    <style>

        /*---------------------------table close&Open-----------------------------*/

        .card-title {
            display: flex;
            align-items: center;
        }

            .card-title span {
                margin-right: 8px; /* Spacing between arrow and title */
            }
        /* -------------------------------------------------*/

    
    </style>
    <link rel="stylesheet" href="~/Content/input_styles.css" />

</head>

<body>
    <div class="app-main__inner" style="margin-top: -30px;padding:4px;width:100%;">

        <div style="height: 50px; display: flex; align-items: center; justify-content: center;">
            <div class="card-title">

                <h6 style="font-weight: bold; font-size: 25px; margin: 0;color:maroon">Cheque Presented</h6>
            </div>
        </div>
       
    </div>
</body>
</html>
