
@{
    ViewBag.Title = "Resetpassword";
    Layout = "~/Views/Shared/_Layout_without_empicon.cshtml";
    //Layout = "~/Views/Shared/_Layout_Home.cshtml";

}


<html>
<head>


    <style>
        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Prevent scrolling on the entire page */
        }

        .app-container,
        .h-100.d-md-flex.d-sm-block.bg-white.justify-content-center.align-items-center.col-md-12.col-lg-7 {
            height: 100vh; /* Set height to viewport height */
            overflow: hidden; /* Prevent scrolling in specific sections */
        }

            .app-container.app-theme-white.body-tabs-shadow {
                overflow: hidden !important; /* Important to override any existing styles */
            }

        .h-100.no-gutters.row {
            margin: 0;
        }
    </style>

    <style>
        .input-wrapper {
            position: relative;
        }

        .toggle-password {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 52%;
            transform: translateY(-50%);
        }

        /* Hide Edge's built-in password reveal icon */
        input[type="password"]::-ms-reveal,
        input[type="password"]::-ms-clear {
            display: none;
        }
    </style>


</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow" style="padding-bottom:600px;">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-7">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            @*<div class="app-logo"></div>*@
                            <h4>
                                <div style="color:maroon;">Welcome,</div>
                                <span>It only takes a <span class="text-success">few seconds</span> to reset your password</span>
                            </h4>
                            <div>
                                <form class="" id="resetpswdform" action="@Url.Action("Resetpassword", "Reset_Password")" method="post" autocomplete="off">
                                    <div class="form-row">
                                        @*<div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="exampleEmail" class=""><span class="text-danger">*</span> Name</label>
                                                    <input name="email" id="exampleEmail" placeholder="Name here..." type="text" class="form-control">
                                                </div>
                                            </div>*@
                                        <div class="col-md-9">
                                            <div class="position-relative form-group">
                                                <label for="exampleName" class=""><span class="text-danger">*</span> Current Password</label>
                                                <input name="txt_currentpswd" id="txt_currentpswd" placeholder="Current Password here..." type="text" class="form-control" required>
                                                <i class="toggle-password" onclick="togglePassword('txt_currentpswd')">👁️</i>
                                            </div>
                                        </div>

                                        @*<div class="col-md-6">  </div>*@


                                        <div class="col-md-9">
                                            <div class="position-relative form-group">
                                                <label for="examplePassword" class=""><span class="text-danger">*</span> New Password</label>
                                                <input name="txt_newpswd" id="txt_newpswd" placeholder="New Password here..." type="password" class="form-control" required onblur="validatePassword(this.value)">
                                                <i class="toggle-password" onclick="togglePassword('txt_newpswd')">👁️</i>
                                                <div id="passwordError" style="color: red;"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-9">
                                            <div class="position-relative form-group">
                                                <label for="examplePasswordRep" class=""><span class="text-danger">*</span> Confirm Password</label>
                                                <input name="txt_confirmpswd" id="txt_confirmpswd" placeholder=" Confirm  Password here..." type="password" class="form-control" required onblur="validatePassword(this.value)">
                                                <i class="toggle-password" onclick="togglePassword('txt_confirmpswd')">👁️</i>
                                                <div id="confirmPasswordError" style="color: red;"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mt-4 d-flex align-items-center" style="padding-right:150px;">

                                        <div class="ml-auto">
                                            <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" type="submit" id="btnResetPassword" value="submit" @*onclick="Resetbutton_Click()"*@>&nbsp;Reset Password&nbsp; </button>
                                        </div>

                                        @*<div class="ml-auto" style="padding-left:30px;">
                                                <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" style="background-color:firebrick;">Cancel </button>
                                            </div>*@

                                        <div style="padding-left:50px;">
                                            <a href="@Url.Action("Index", "Home")" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" style="background-color:firebrick;"> &nbsp; Cancel &nbsp;</a>

                                        </div>


                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="d-lg-flex d-xs-none col-lg-5" style="padding-top: 63px; width:400px;">
                        <div class="slider-light">
                            <div class="slick-slider slick-initialized">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('../images/resetpswd.jpg'); "></div>
                                        <div class="slider-content">
                                            @*<h3 style="padding-top:95px;">Time is what determines security. With enough time nothing is unhackable</h3>*@
                                            @*padding-bottom: 430px;*@
                                            <h3 style="font-family: 'Times New Roman'; color: whitesmoke; padding-bottom: 400px; "> <i>   Choosing a hard-to-guess <br /> &nbsp;&nbsp; easy-to-remember&nbsp;&nbsp;  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;password is important...!   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; </i></h3>


                                            <p>
                                                @*Choosing a hard-to-guess, but easy-to-remember password is important!*@
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        function togglePassword(fieldId) {
            const passwordInput = document.getElementById(fieldId);
            const passwordType = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', passwordType);
        }

        $(document).ready(function () {
            // Show/hide eye icon based on input value
            $('#txt_currentpswd, #txt_newpswd, #txt_confirmpswd').on('input', function () {
                const password = $(this).val().trim();
                const toggleIcon = $(this).siblings('.toggle-password');
                if (password !== '') {
                    toggleIcon.show();
                } else {
                    toggleIcon.hide();
                }
            });

            // Ensure the icons are initially hidden
            $('#txt_currentpswd, #txt_newpswd, #txt_confirmpswd').each(function () {
                const toggleIcon = $(this).siblings('.toggle-password');
                if ($(this).val().trim() !== '') {
                    toggleIcon.show();
                } else {
                    toggleIcon.hide();
                }
            });



            /////////////   21 nov 2024////////  start//////////////


            //let newPasswordValidated = false;  // Flag to track if new password is validated
            //let confirmPasswordValidated = false;  // Flag to track if confirm password is validated

            //// Validate New Password when it is blurred
            //$('#txt_newpswd').on('blur', function () {
            //    const newPassword = $(this).val().trim();

            //    // Check if password is valid and if it's not already validated
            //    if (!validatePassword(newPassword)) {
            //        if (!newPasswordValidated) {
            //            alert('New Password must be 8-12 characters, including letters, numbers, and special characters.');
            //            $(this).val('');  // Clear the new password field to allow correction
            //            $(this).focus();  // Focus back on the new password field to correct it
            //            newPasswordValidated = false; // Ensure flag is false while user corrects input
            //        }
            //    } else {
            //        newPasswordValidated = true;  // Set the flag to true once the new password is valid
            //    }
            //});

            //// Validate Confirm Password when it is blurred
            //$('#txt_confirmpswd').on('blur', function () {
            //    const confirmPassword = $(this).val().trim();
            //    const newPassword = $('#txt_newpswd').val().trim();

            //    // Check if confirm password matches the new password
            //    if (confirmPassword !== newPassword) {
            //        if (!confirmPasswordValidated) {
            //            alert('Confirm password must match the new password.');
            //            $(this).val('');  // Clear the confirm password field to allow correction
            //            $(this).focus();  // Focus back on the confirm password field to correct it
            //            confirmPasswordValidated = false;  // Ensure flag is false while user corrects input
            //        }
            //    } else {
            //        confirmPasswordValidated = true;  // Set the flag to true once the confirm password is valid
            //    }
            //});



            /////////////   21 nov 2024////////  start//////////////


            // Form submission event handler
            $('#resetpswdform').submit(function (e) {
                alert("reset clk");
                e.preventDefault(); // Prevent the default form submission

                // Get values from password input boxes
                var currentPassword = $('#txt_currentpswd').val();
                var newPassword = $('#txt_newpswd').val();
                var confirmPassword = $('#txt_confirmpswd').val();

                /////////////   21 nov 2024////////  start//////////////

                // Validate passwords before submitting
                if (!validatePassword(newPassword)) {

                    // Clear both password fields if validation fails
                    $('#txt_newpswd').val('');  // Clear the new password field
                    $('#txt_confirmpswd').val('');  // Clear the confirm password field

                    alert('Password must be 8-12 characters, including letters, numbers, and special characters.');
                    return false; // Stop form submission if password is invalid
                }

                if (newPassword !== confirmPassword) {
                    alert('Confirm password must match the new password.');
                    return false; // Stop form submission if passwords do not match
                }


                /////////////   21 nov 2024   ///////////  end///////////

                // Send values to the controller using AJAX
                $.ajax({
                    url: '/Reset_Password/ResetPassword',
                    type: 'POST',
                    data: {
                        currentPassword: currentPassword,
                        newPassword: newPassword,
                        confirmPassword: confirmPassword
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.Message);
                            /* window.location.reload();*/
                            window.location.href = '/Smart_Login/Login'; 
                        } else {
                            alert(response.Message);
                            window.location.reload();
                        }
                    },
                    error: function () {
                        alert('An error occurred while processing the request.');
                    }
                });
            });
        });

        function validatePassword(password) {
           //alert("validation pswd");
            var hasNumber = /\d/.test(password);
            var hasAlphabet = /[a-zA-Z]/.test(password);
            var hasSpecialChar = /[\u0040!#$%^&*()_+]/.test(password);

            // Check if password length is within range and all criteria are met
            if (password.length >= 8 && password.length <= 12 && hasNumber && hasAlphabet && hasSpecialChar) {
                return true; // Password is valid
            } else {
               // alert("password not correct");
                return false; // Password is invalid
            }
        }
    </script>

























    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script type="text/javascript">
            function togglePassword(fieldId) {
                const passwordInput = document.getElementById(fieldId);
                const passwordType = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', passwordType);
            }

            $(document).ready(function () {
                // Show/hide eye icon based on input value
                $('#txt_currentpswd, #txt_newpswd, #txt_confirmpswd').on('input', function () {
                    const password = $(this).val().trim();
                    const toggleIcon = $(this).siblings('.toggle-password');
                    if (password !== '') {
                        toggleIcon.show(); // Show the eye icon
                    } else {
                        toggleIcon.hide(); // Hide the eye icon
                    }
                });

                // Ensure the icons are initially hidden
                $('#txt_currentpswd, #txt_newpswd, #txt_confirmpswd').each(function () {
                    const toggleIcon = $(this).siblings('.toggle-password');
                    if ($(this).val().trim() !== '') {
                        toggleIcon.show();
                    } else {
                        toggleIcon.hide();
                    }
                });
            });

        </script>*@




    @*<script type="text/javascript">

                $(document).ready(function () {
                    e.preventDefault();
                    // Blur event for new password input
                    $('#txt_newpswd').blur(function () {
                        var currentPassword = $('#txt_currentpswd').val();
                        var newPassword = $(this).val();

                        // Check if current password is same as new password
                        //if (confirmPassword === newPassword) {
                        //    alert('Current password cannot be the same as the new password.');
                        //    $(this).val('').focus();
                        //    return; // Exit the function early if passwords are the same
                        //}

                        // Validate the new password format

        //////////////////////////////////////////////


                    //    if (!validatePassword(newPassword)) {
                    //        var errorMessage = 'New password must be between 8 and 12 characters and include at least one number, one alphabet, and one special character.';
                    //        $('#passwordError').text(errorMessage); // Update error message display if needed
                    //    } else {
                    //        $('#passwordError').text(''); // Clear the error message if password format is valid
                    //    }


                    //    if (currentPassword === newPassword) {
                    //        alert('Current password cannot be the same as the new password.');
                    //        $(this).val('').focus();
                    //        return; // Exit the function early if passwords are the same
                    //    }
                        //});

                    ////////////////////////////////////////////////////////////////



                    // Form submission event handler
                    $('#resetpswdform').submit(function (e) {
                        e.preventDefault(); // Prevent the default form submission

                        // Get values from password input boxes
                        var currentPassword = $('#txt_currentpswd').val();
                        var newPassword = $('#txt_newpswd').val();
                        var confirmPassword = $('#txt_confirmpswd').val();

                        // Perform validation here if needed

                        // Send values to the controller using AJAX
                        $.ajax({
                            url: '/Reset_Password/ResetPassword',
                            type: 'POST',
                            data: {
                                currentPassword: currentPassword,
                                newPassword: newPassword,
                                confirmPassword: confirmPassword
                            },
                            success: function (response) {
                                if (response.success) {


                                    alert(response.Message);
                                    window.location.reload();
                                    // Display success message
                                } else {
                                    alert(response.Message);
                                    window.location.reload();
                                    //$('#txt_newpswd').val("");
                                    //$('#txt_confirmpswd').val("");
                                    //$('#txt_newpswd').focus();
                                    //if (response.Message === "You cannot enter the last two passwords as your new one.") {
                                    //    alert("You cannot enter the last two passwords as your new one."); // Display specific error message
                                    //} else {
                                    //    alert(response.Message); // Display general error message
                                    //}
                                }
                            },
                            error: function () {
                                alert('An error occurred while processing the request.');
                            }
                        });
                    });

                    // Function to validate password
                    function validatePassword(password) {
                        var hasNumber = /\d/.test(password);
                        var hasAlphabet = /[a-zA-Z]/.test(password);
                        var hasSpecialChar = /[\u0040!#$%^&*()_+]/.test(password);

                        // Check if password length is within range and all criteria are met
                        if (password.length >= 8 && password.length <= 12 && hasNumber && hasAlphabet && hasSpecialChar) {
                            return true; // Password is valid
                        } else {
                            return false; // Password is invalid
                        }
                    }
                });


            </script>*@






</body>
</html>
