

<!DOCTYPE html>
<html>
<head>


    <style>
    </style>

</head>
<body>
    <div class="app-main__inner">

        <div style="height: 50px; display: flex; align-items: center; justify-content: center;">
            <div class="card-title">
                <h6>Customer Add Bank Details Pending List</h6>
            </div>
        </div>

        <div class="search-container">
            <div style="padding: 5px;">
                <h5>From Date</h5>
                <input type="date" name="dob" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" id="dob" />

                <span id="dob-error" style="color: red; font-size:small;"></span>

            </div>
        </div>


        <div class="row" style="margin-top:-15px; margin-bottom:2px;">
            <div class="col-md-6 col-lg-4">
                <p style="color: darkblue; font-weight: 500;  font-size: medium">
                    Customer photo &nbsp; &nbsp; <a href="#" onclick="displayPhoto('@Model.ImageUrl1','image')"> <i class="fa fa-fw" style="font-size:20px;" aria-hidden="true" title="Copy to use file-photo-o"></i></a>
                    <br />

            </div>
        </div>




</body>
</html>
