@{

    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style type="text/css" media="print">
    </style>

    <style type="text/css">
        /* Apply margin and justify alignment */
        #panel_nom {
            font-family: 'Times New Roman', serif;
            font-size: 12pt;
            text-align: justify;
            margin: 40px; /* Margin on all four sides */
        }

        .content {
            font-family: 'Times New Roman', serif;
            font-size: 12pt;
            text-align: justify; /* Justify text */
            margin: 40px; /* Margin on all four sides */
        }

        .paragraph {
            /*  margin-bottom: 5px; */
            font-family: 'Times New Roman', serif;
            font-size: 12pt;
            margin: 0; /* Remove any margin */
        }

        #Panel2 {
            text-align: center; /* Center the text inside the panel */
            margin: 0 auto; /* Center the panel itself within its container */
        }

        .page-break {
            page-break-before: always; /* Start a new page before this element */
            page-break-after: always; /* Start a new page after this element */
            page-break-inside: avoid; /* Avoid breaking inside this element */
        }
    </style>





</head>
<body>

    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="" />



        <div id="page1" class="page-break">
            <br />
            <br /><br />
            <br /> <br /><br />
            <br /><br />
            <div id="panel_nom"> (For Nominees)</div>


            <div id="Panel_hd">
                <div id="Panel2">
                    <p class="paragraph">
                        DEED OF INDEMNITY BOND
                    </p>
                </div>
            </div>

            <div class="content" id="div1">
                <p class="paragraph">
                    THIS DEED OF INDEMNITY IS made at ...................................this day of..................... by (1) ................................... S/D/W/H of Shri/Smt..........................................residing at.................................................(hereafter referred to as the claimant) and
                    <br />  (2) ...................................S/D/W/H of Shri/smt,.......................................aged......residing at................................................(Here in after called the Surety) which expression shall wherever the context so admits or requires mean and include their respective successors and assigns in favour of Yogakshemam Loans Ltd,a company registered under the Companies Act,1956 with its Registered Office at Door No.D-2- 28/315 3rd floor,Ottappath Tower,Aswini Junction,Patturaickal, Thrissur-22, Thrissur District and among others a Branch  office at ........................ hereinafter called the COMPANY which expression shall wherever the context so admits or requires  shall  mean  and include its successors and assigns.
                </p>
            </div>

            <div class="content" id="div2">
                <p class="paragraph">
                    <b>Whereas</b>  Shri/Smt/..................................................... the..................of the claimant( state the relation of the claimant with the deceased)  has invested a sum of Rs............... in  the Company’s subordinated debt in folio No..................certificate No.................and
                </p>
            </div>

            <div class="content" id="div3">
                <p class="paragraph">
                    <b>Whereas</b>  Shri/Smt.....................................................has died intestate (hereafter referred to as the deceased) on..................and I am named as the  nominee  to claim the above  subordinated debt  after the deceasd.
                </p>
            </div>

            <div class="content" id="div4">
                <p class="paragraph">
                    AND  WHEREAS  the claimant is desirous of  claiming the  title to the above subordinated debt and  is/ are willing to  indemnify the company for  transfer and transmission of the subordinated debt in his /their favour and in consideration of the company having agreed to the request of the claimant for the transmission of the above subordinated debts in favour of the Claimant with out the production of a succession certificate or probate of a will, the claimant represents, agrees and indemnify in the following manner.
                </p>
            </div>


            <div class="content" id="div5">
                <p class="paragraph">
                    1.	Shri./Smt..................................................... has died intestate on.................... and that a copy of the death certificate bearing No.................. dated  issued by..................duly attested is attached with this deed.<br />
                    2.	The claimant and the surety hereby indemnify the company, and their respective  officers, their successors  and assigns and agrees to keep indemnified at all time against all losses damages, claims, cost, charges and expenses of the company ,which may face by reason of  acting at the request of the claimant and the sureties and to compensate the company,  jointly and severally form their  personal assets either acquired or inherited, movable or immovable, present or future.

                </p>
            </div>

        </div>

        <div id="page2" class="page-break">
            <div class="content" id="div7">
                <p class="paragraph">
                    In witness WHEREOF the Claimant and the Surety have set their hand  on the date mentioned here in above
                </p>
            </div>

            <div class="content" id="div8">
                <p class="paragraph">

                    Claimant<br />
                    (Name and signature)


                </p>
            </div>

            <div id="div9">
                @*<p class="paragraph">*@
                <center>  Surety ( Name and Signature)1.</center>
                @*</p>*@
            </div>

            <div id="div10">
                <p class="paragraph">
                    <br />
                    <center>  (to be notarized)</center>
                </p>
            </div>
        </div>

        <div id="page3" class="page-break">
            <div class="content" id="div11">
                <p class="paragraph">
                    REQUEST LETTER  (Nominees)
                    <br />
                    <br />
                    <br />

                    The Company Secretary<br />
                    Yogakshemam Loans Ltd,<br />
                    Door No. D-2- 28/315,3rd floor,Ottappath Tower - Aswini Junction, <br />
                    Patturaickal, Thrissur-22.
                    Dear Sir,<br /><br /><br />

                    Regd. Transmission of  subordinated debt of Mr./Mrs.....................................................<br /><br />

                    This is to inform that  Mr./Mrs...............................................resident of .......................................................( give address) having  an investment of Rs..................in the subordinated debt  of the company registered in folio No....................as evidenced by the certificate No....................The above named investor has expired on......................and  I am  registered as the nominee  in interest for the title of the above subordinated debts.
                    <br /><br />
                    I am attaching here with an attested copy of the death certificate  of Mr./ Mrs................................................... No.................. dated................... issued by............................
                    <br /><br />
                    I request you to kindly  effect the transfer/ transmission of the above subordinated debt to my name and  to credit the redemption proceeds  to my bank Account
                    <br /><br />
                    I am also attaching attested copies of the following  documents establishing my identity
                    <br /><br />
                    1.Copy of ......................................bearing No................................as my proof of identity<br />
                    2.Copy of  ......................................bearing No................................as my proof of address<br />
                    3.Copy of my PAN ......................................<br />
                    4.Copy of the pass book of  ......................................Bank.................... branch.<br /><br /><br />

                    I also  agree to execute such other documents including indemnity  in consideration of the company agreeing to   transfer the above subordinated debts  in my favour.<br />
                    I further declare all the above said details are true and correct and all the documents mentioned above are of mine and are valid as on date and will inform the company the changes, if any, in the above information in future<br /><br /><br />


                    Thanking  you<br /><br /><br />

                    Yours faithfully<br /><br /><br />



                    (Signature , Name and complete residential address with phone No.)<br />



                </p>
            </div>

           

          
            
        </div>

    </div>
</body>
</html>
