@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #table1 {
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
            /*     height: 40px;*/
            text-align: left;
        }
    </style>

</head>
<body style="border: 1px solid black; padding: 5px;height:100%;font-size:16px;">
    <div style="padding:50px;">
        <div style="width:100%; text-align: center;">
            <h2 style="margin-bottom: 1px;">Subordinated Debt </h2>
            <h2 style="margin-bottom: 1px;">Transfer Endorsement cum Delivery Letter  </h2>

        </div>
        <br />
        <br />
        <div style="text-align: justify;">
            I ………………………….holder of the sub-debt instrument no…………..with Folio No………….hereby
            confirm that the said instrument with face value ………..have been transferred to ……………..and
            a sum of  Rs…………has been received including interest.
        </div>
        <br />
        <br />
        <br />
        <div style="text-align:right;">
            Name  and signature of the transferor
        </div>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <br />
        <div style="width:100%; text-align: center;">
            <h2 style="margin-bottom: 1px;">Declaration by transferee </h2>
        </div>
        <br />
        <br />
        <div style="text-align: justify;">
            I………………hereby confirm having taken delivery of the above mentioned instrument and
            unconditionally agrees  that I will hold the instrument  subject to the terms and conditions with
            which it has been issued. I request the company to substitute my particulars as per the
            attached documents in the records of the company in place of the transferor and make
            necessary endorsements in the certificate. I am attaching the following documents for KYC
            purposes. I further confirm that it has been purchased from my own source and not from any
            borrowings.
        </div>
        <br />
        <br />
        <br />
        <table id="table1">
            <tr>
                <td rowspan="2">KYCs<br />DOCs</td>
                <td>1.Proof of identity </td>
                <td> </td>
            </tr>
            <tr>
                <!-- The first column is now merged with the above row -->
                <td>2.Proof of address</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">Bank name </td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2">Bank A/C No.</td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2">IFSC Code </td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2">Attach Passbook /Cheque leaf </td>

                <td></td>
            </tr>
            <tr>
                <td colspan="2">*Tax deducted at source  </td>

                <td>
                    <label><input type="checkbox" name="assessedToTax" value="yes"> Yes</label>
                    <label><input type="checkbox" name="assessedToTax" value="no"> No</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">*Form 15H/G attached  </td>

                <td>
                    <label><input type="checkbox" name="assessedToTax" value="yes"> Yes</label>
                    <label><input type="checkbox" name="assessedToTax" value="no"> No</label>
                </td>
            </tr>

        </table>
        <br />
        *(Tick whichever is applicable)
        <br />
        <br />
        <div>
            Nomination Request  in Form SH-13 is attached
        </div>
        <br />
        <div style="text-align:right;">
            Name and signature of transferee
        </div>

    </div>
</body>
</html>